.label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  
  &.title1 {
    font-size: 40px;
    color: black;
  }
  &.title2 {
    font-size: 30px;
    color: black;
  }
  &.gray_title2 {
    font-size: 25px;
    color: gray;
  }
  &.gray_title3 {
    font-size: 20px;
    color: gray;
  }
  &.body_main {
    font-size: 15px;
    color: black;
  }
  &.body_sub {
    font-size: 12px;
    color: gray;
  }
  &.red_route {
    font-size: 20px;
    color: red;
  }
}
